.container {
  border: 1px solid rgb(146, 126, 126);
  border-radius: 3px;
}
.preview {
  border: 1px solid rgb(156, 139, 139);
  border-radius: 2px;
  padding-top: 5px;
}
.checkboxes {
  padding: 2px;
  border: 1px solid rgb(200, 206, 149);
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ff0707;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(3);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
