.edit{
  border: 1px solid ;
  border-radius: 2px;
  background-color: rgb(201, 211, 219);
  font-style: italic ;
  font-family: sans-serif ;
}
.hello{
  padding: 1px;

}
input{
  box-shadow: 2px 1px 1px rgb(148, 142, 142);
}
option{
  box-shadow: 2px 1px 1px grey;
}
label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.astrek{
  color: red;
}
.field{
  background-image: url("sona.jpeg");
  background-repeat: no-repeat;
background-position: left top ;
border: 10px;

  padding-left: 10%;
  margin-left: 10%;
  font-weight: bold;
  font-style: italic;
  box-shadow: 10px 20px 20px;
  border: 1px;
}

.hello1{
  border-left: 1px solid ; 
  border-right: solid; 
  border-radius: 10px; 
  
}