.edit{
  border: 1px solid ;
  border-radius: 2px;
  background-color: rgb(201, 211, 219);
  font-style: italic ;
  font-family: sans-serif ;
}
.hello{
  padding: 1px;

}
input{
  box-shadow: 2px 1px 1px rgb(148, 142, 142);
}
option{
  box-shadow: 2px 1px 1px grey;
}
label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
